@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  text-decoration: none;
  list-style: none;
}
body,
html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  overflow: auto;
  
}
a{
  text-decoration: none;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}
section {
  width: 100%;
  padding: 80px 0;
}
h1 {
  font-family: "Rubik-ital", sans-serif;
}
h2 {
  font-family: "Rubik-ital", sans-serif;
}
:root {
  --mainText-color: #fff;
  --mainBg-color: rgb(255, 255, 255);
  --NaveBlue-bg: rgb(0, 1, 30);
  --Purple-bg: rgb(27, 9, 39);
  --LightPurple-bg: rgb(76, 31, 99);
  --DeepPurple-color: rgb(51, 7, 74);
  --black-color: rgb(0, 0, 0);
  --p-color: rgba(255, 255, 255, 0.6);
  --team-color: rgb(24, 8, 36);
  --font-rubik: "Rubik", sans-serif;
  --font-rubik-ital: "Rubik-ital", sans-serif;
  --tittle-color: rgb(128, 110, 144);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik, sans-serif;
}















/*================ FROM HERE OTHER PAGE CSS START================== */










/*==========================ABOUT PAGE============================ */

.topbar {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    z-index: 5;
    background-attachment: fixed;
    pointer-events: none;
    @media screen and (min-width: 320px) {
      height: 50vh;
    }
    @media screen and (min-width: 500px) {
      height: 60vh;
    }
    @media screen and (min-width: 768px) {
      height: 60vh;
    }
    @media screen and (min-width: 992px) {
      height: 70vh;
    }
    @media screen and (min-width: 1200px) {
      height: 100vh;
    }
  }
  .tbar{
    width: 100%;
    height: 100%;
      background: url("../images/HeroBanner/bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      position: relative;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/HeroBanner/rays.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        background-attachment: fixed;
        filter: brightness(1.3);
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.156);
        z-index: -9;
      }
  }

  .topbar iframe {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    object-fit: cover;
    pointer-events: none;
  }
  
  .topbar  .log_boxs h2 {
    font-size: 5rem;
    margin-top: 2em;
    margin-bottom: .3em;
    font-weight: 800;
    background: #000dff;
  background: linear-gradient(to left, #0800ff 20%, #9d00ff 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  @media screen and (min-width: 320px) {
    .topbar  .log_boxs h2 {
      font-size: 2rem;
    }
    }
  
  @media screen and (min-width: 500px) {
    .topbar  .log_boxs h2 {
      font-size: 3.5rem;
    }
  
    
  }
  @media screen and (min-width:768px) {
    .topbar  .log_boxs h2 {
      font-size: 4.5rem;
    }
  }
  @media screen and (min-width:992px) {
    .topbar  .log_boxs h2 {
      font-size: 5.5rem;
    }
    
  }
  .topbar  .log_boxs p {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #ffee00;
    @media screen and (min-width: 320px) {
      font-size: 1.2rem;
    }
    @media screen and (min-width: 500px) {
      font-size: 1.6rem;
    }
  }
  
  .log_boxs {
    text-align: center;
    
  }
   
  .log_boxs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   animation: down .48s ease-in-out forwards;
   animation-delay: 3.5s;
  }
  
  @keyframes down {
    0% {
        top: 0%;
        
  
    } 
    50% {
        top: 30%;
    }
  
    100% {
        animation-delay: 5s;
        top: 25%;
  }
  
  }.log_boxs{
    position: absolute;
    top: 0;
    z-index: 10;
    margin: auto;
  }
  
  
   
  
  
  /*==========================ABOUT MAIN PAGE START============================ */
  
  .about_img {
    max-width: 370px;
    min-height: 550px;
    background: url("../images/others/profile.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    @media screen and (min-width: 320px) {
      max-width: 200px;
      min-height: 350px;
    }
  
}

.about_img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/others/bgs.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: screen;
    opacity: 0.7dd;
    transform: rotate(180deg);

}




  
  .about{
    width: 100%;
    height: auto;
    background-image: url("../images/logo/0uRSMyBh_1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

  }
  .about::before{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.474);
  }
  
  .about_text {
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  
  .animated {
    animation: slide 1s ease-in-out forwards;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    50% {
      transform: translateX(10%);
      opacity: 0;
    }
    70% {
        transform: translateX(17%);
        opacity: 0.1;
      }
    100% {
      transform: translateX(-5%);
      opacity: 1;
    }
  }

  .about_text{
    & h1{
      color: var(--mainText-color);
      font-size: 3rem;
      font-weight: 800;
      margin: 20px 0;
      text-transform: uppercase;
      @media screen and (min-width:320px) {
        font-size: 2rem;
      }
      @media screen and (min-width:500px) {
        font-size: 3rem;
      }
    }
    & p{
      color: #ffffffd0;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 1px;
      direction: rtl;
      @media screen and (min-width:320px) {
        font-size: 1.1rem;
        text-align: left;
      }
      @media screen and (min-width:500px) {
        font-size: 1.3rem;
      }
      
    }
  }
  #intro span{
     
     @media  screen and (min-width:320px) {
       font-size: 1.5rem !important;
     }
     @media  screen and (min-width:500) {
      font-size: 2rem !important;
    }
  }
  #bio{
    width: 100%;
    height: 300px;
  }
  .highlight {
    color: #ffc107;
    font-weight: 700;
}
  
  .about_wraps{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px auto 50px auto;
  }
  @media screen and (max-width: 500px) {
    .about_wraps{
      flex-direction: row;
      margin-bottom: 300px !important;
    }
    .about_text{
        & h1{text-align: right;}
    }
    
  }
  
 @media screen and (max-width: 768px) {
    .about_wraps{
      flex-direction: column;
      margin-bottom: 150px;
    }
    
 }
@media screen and (min-width: 992px) {
    .about_wraps{
      flex-direction: row;
      margin-bottom: 100px;
    }
    
}
  
  /*==========================SKILL BAR 
  start============================ */
  .skills {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
  }
  .skill {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    overflow: hidden;
  }
  
  .skill h5, 
  .skill p {
    text-orientation: mixed;
  }
  
  .skill h5 {
    font-size: 1.5rem;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    stroke: 1px #ff9100;
    -webkit-text-stroke: 1px #ff8000;
    animation: drop 3s ease forwards;
    animation-delay: 0.5s; /* Add delay before the animation starts */
  }
  
  .skill p {
    font-size: 0.9rem;
    font-weight: 600;
    animation: up 5s ease forwards;
    animation-delay: 1s; /* Add delay before the animation starts */
  }
  
  @keyframes drop {
    0% {
      transform: translateY(150px);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  @keyframes up {
    0% {
      transform: translateY(-150px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .progress_wrap .card {
    border: none;
    
    
  }

  .progress_wrap .card .card-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    height: 200px;
    border: none;
    justify-content: space-between;
  }
  
  .skill_bar {
    width: 120px;
    height: 120px;
    position: relative;
    & svg{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  .outer {
    height: 120px;
    width: 120px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }
  
  .inner {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), 
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  }
  
  circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 15px;
    transition: stroke-dashoffset 3s ease; /* Smooth transition */
}
.animated_banner{
  padding: 0;
}
.animated_banner_box{
  width: 100%;
  height: 500px;
  object-fit: contain; 
   position: relative;
  @media screen and (max-width: 1080px) {
    display: none;
  }

}
.animated_banner_box iframe{
  width: 100%;
  height: 100%;
  object-fit: contain;
  scroll-snap-align: start;

}
.animated_banner_text{
  width: 200px;
  padding: 7px 10px 0px 10px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.9px);
-webkit-backdrop-filter: blur(14.9px);
  
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  right: 10px;
  & h1{
    font-size: 22px;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
  }
}
/*========================== SKILL BAR END============================ */

/*==========================PROJECTS START============================ */


.slider{
  width: 90%;
  height: 750px;
  margin-top: -50px;
  position: relative;
  margin: auto;
  border-radius: 30px;
  overflow: hidden;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3),
    -10px -10px 10px rgb(255, 255, 255);
    backdrop-filter: blur(58px);
    -webkit-backdrop-filter: blur(7.8px);
}
.slider .list .item{
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}
.slider .list .item img{
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
  filter: brightness(0.5);
}
.slider .list .item::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;

  background-image: linear-gradient(
      to top, rgba(0, 0, 0, 0.561) 19%, transparent
  );
}
.slider .list .item .content{
  position: absolute;
  left: 10%;
  top: 15%;
  color: white;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1){
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2{
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active{
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3)
{
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3)
{
  animation-duration: 1.3s;
}
.slider .list .item p:nth-child(3) a{
  text-decoration: none;
  font-size: 25px;
  color: white;
  margin-right: 10px;
}
.slider .list .item.active p:nth-child(3)  a i{
  color: white;
  font-size: 25px;
  transition: 0.3s;
}
.slider .list .item.active p:nth-child(3)  a i:hover{
  color: #e7bc12;
}
.arrows{
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button{
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
}
.arrows button:hover{
  background-color: #eee;
  color: black;
}
.thumbnail{
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar{
  width: 0;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  filter: brightness(.8);
  transition: .5s;
  flex-shrink: 0;
  cursor: pointer;
}

.thumbnail .item img{
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active{
  filter: brightness(.4);
  margin-top: -10px;
}
.thumbnail .item .content{
  position: absolute;
  inset: auto 10px 60px 10px;
  justify-content: center;
  display: flex;
  color: #e033a3;
  font-weight: 600;
  align-items: center;
  z-index: 10;
}
@media screen and (max-width: 678px) {
  .thumbnail{
      justify-content: start;
  }
  .slider .list .item .content h2{
      font-size: 45px;
  }
  .arrows{
      top: 10%;
  }
  .slider .list .item .content p{
    font-size: 12px;
}
.slider .list .item .content{
  left: 10%;
  top: 50%;

}
}
@media screen and (max-width: 950px) {
  .thumbnail .item{
    width: 100px;
    height: 150px;
  }
  .thumbnail{
    display: none;
  }
  .slider .list .item .content h2{
    font-size: 35px;
}
  .slider{
    height: 450px;
  }
  .slider .list .item .content{
    left: 10%;
    top: 40%;
  
}


}











/* ================== PROJECTS END================== */


main{
  width: min(1200px, 90vw);
  margin: auto;
  
}
.sliders{
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
  );
}
.sliders .lists{
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.sliders .lists .items{
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.sliders .lists .items img{
  width: 100%;
}
@keyframes autoRun{
  from{
      left: 100%;
  }to{
      left: calc(var(--width) * -1);
  }
}


























  /*==========================ABOUT PAGE END============================ */
  
  
  
